# Node
node_modules/
npm-debug.log

# Android
android/app/build/
android/.gradle/
android/local.properties
.gradle/
build/
!android/app/src/main/assets/public/

# Keystores & Secrets
*.keystore
keystore.properties
www/js/config.js
android/app/src/main/assets/public/js/config.js

# Capacitor
capacitor.config.json.timestamp

# System
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.iml
